//
// Backgrounds
//
.bg--default {
    background: #ebedf0 !important;
}

.bg--primary {
    background: $color-primary !important;
}

.bg--secondary {
    background: $color-secondary !important;
}

.bg--success {
    background: $color-success !important;
}

.bg--warning {
    background: $color-warning !important;
}

.bg--info {
    background: $color-info !important;
}

.bg--danger {
    background: $color-danger !important;
}

.bg--white {
    background: $white !important;
}

.bg--light {
    background: $color-light !important;
}

.bg--dark {
    background: $color-dark !important;
}